@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Playfair+Display:wght@400;800&family=Poppins:wght@500;600&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
:root{
    --bg-color: white;
    --text-color: #bda160;
    --text-second-color:  #141010;
    --main-color: #83580b;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
p{
    font-size: 16px;
    color: var(--text-second-color);
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    justify-content: space-around;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .3s ;
}
.header.sticky{
     background: var(--bg-color);
}
.logo{
    font-size:25px;
    color: var(--text-second-color);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 3px;
    transition: all .50s ease;
    position: relative;
}
.logo:hover{
    color: var(--text-color);
}
.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: showRight  1s ease forwards;
    animation-delay: .4s ;
}
.logo i{
    font-weight: 300;
    color: var(--main-color);
}
.navbar a{
    font-size: 18px;
    color: var(--text-second-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    letter-spacing: 3px;
    transition: all .50s ease;
    position: relative;
}
.navbar::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: showRight  1s ease forwards;
    animation-delay: .6s ;
    z-index: 2;
}
#menu-icon{
    font-size: 3rem;
    color: var(--text-second-color);
    cursor: pointer;
    display: none;
}
.navbar a:hover,
.navbar a.active{
    color: var(--text-color);
}


.main{
    display: flex;
    align-items: center;
}
.main a{
    margin-right:25px;
    margin-left: 10px;
    color: var(--text-second-color);
    letter-spacing: 3px;
    font-size: 1.1rem ;
    font-weight: 500;
    transition: all .50s ease;
}
.user{
    display: flex;
    align-items: center;
}
.user i{
    color: var(--text-second-color);
    font-size: 22px;
} 
.main a:hover{
    color: var(--text-color);
}

.home{
    background: transparent;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-content{
    max-width: 700px;
}
.home-content h1{
    position: relative;
    color: var(--text-second-color);
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 1.2;
    transition: all .50s ease;
}
.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: showRight  1s ease forwards;
    animation-delay: 1s ;
}
.home-content h1:hover{
    color: var(--text-color);
}
.home-content h1 span{
    color: var(--text-color);
}
.home-content h3{
    position: relative;
    font-size: 30px;
    font-weight: 500;
    color: var(--main-color);
}
.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: showRight  1s ease forwards;
    animation-delay: 1.3s ;
} 
.home-content p{
    position: relative;
    margin: 20px 0 40px;
    font-size: 16px;
}
.home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: showRight  1s ease forwards;
    animation-delay: 1.6s ;
}
.home-content .btn-box{
    position: relative ;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px; 
}
.home-content .btn-box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color) ;
    animation: showRight  1s ease forwards;
    animation-delay: 1.9s ;
    z-index: 2;
}
.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: transparent;
    border: 1px solid var(--text-second-color);
    border-radius: 8px;
    font-size: 19px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
}
.btn-box a:nth-child(1){
    background:transparent;
    color: var(--text-second-color);
}
.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: var(--text-color);
    z-index: -1;
    transition: all .50s ease;

}

.btn-box a:hover::before{
    width: 100%;
}
.home-social{
    position: absolute;
    margin-top: 400px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.home-social::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: showRight  1s ease forwards;
    animation-delay: 2.5s ;
    z-index: 2;
}
.home-social a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--text-second-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--text-second-color);
    text-decoration: none;
    z-index: 1 ;
    overflow: hidden;
}
.home-social a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:0;
    height: 100%;
    background: var(--text-color);
    z-index: -1;
    transition: all .50s ease;
}
.home-social a:hover::before{
    width: 100%;
}
.home-imghover{
    position: absolute;
    top: 0;
    right: 30px;
    width: 500px;
    height: 100%;
    background: transparent;
    transition: all .50s ease;
    
}

/* KEYFRAMES ANIMATION  */

@keyframes showRight{
    100%{
        width: 0;
    }
}

/* ============ new ============ */
#new{
    align-items: center;
}
#new  h2 {
    font-size: 46px;
    font-weight: 500;
    line-height: 54px;
    color: var(--text-second-color);
    align-items: center;
    text-align: center;
    position: relative;
}
#new .pro-con{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#new .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7dc;
    border-radius: 25px;
    cursor: pointer;
    margin: 15px 0;
    transition: .3s ease;
    position: relative;
    
}
#new .pro img{
    width: 100%;
    border-radius: 20px;
}
#new .pro:hover{
    box-shadow: 10px 10px 54px rgb(117, 114, 32);
}
#new.pro .des{
    text-align: start;
    padding: 10px 0;
}
#new .pro .des span{
    color: #606063;
    font-size: 12px;
}
#new .pro .des h5{
    margin-top: 7px;
    color: var(--text-second-color);
    font-size: 14px;
}
#new .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}
#new .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700px;
    color: #088178;
}
#new .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px ;
    background-color: var(--bg-color);
    font-weight: 500px;
    color: var(--text-color);
    border: 1px solid var(--text-second-color);
    position: absolute;
    bottom: 20px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .50s ease;
}
#new .pro .cart:hover{
    background-color: var(--text-color);
    color: var(--text-second-color);
}


/* =========banner========= */
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(sss.jpeg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 35vh;
}
#banner h4{
    color: rgb(243, 181, 25);
    font-size: 26px;
}
#banner h2{
    color: rgb(243, 181, 25);
    font-size: 40px;
    padding: 10px 0 ;
}
#banner h2 span{
    color: #ef3636;
}
button.normal{
    font-size: 14px;
    font-weight: 500px;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all .50s ease;
}
#banner button:hover{
    background-color: var(--text-color);
    color: var(--text-second-color);
}

/* ========= contact page ========== */

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(contact.jpeg);
    background-size: cover;
    background-position: center;
}
.contact .content__contact{
    max-width: 800px;
    text-align: center;
}
.contact .content__contact h2{
    font-size: 36px;
    font-weight: 500;
    color: var(--text-second-color) ;
}
.contact .content__contact p{
    font-weight: 300;
    color: var(--text-second-color) ;
}
.con__contact{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.con__contact .contact__info{
    width: 50%;
    display: flex;
    flex-direction:column ;
}
.con__contact .contact__info .box__info{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.con__contact .contact__info .box__info .icon__contact{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.con__contact .contact__info .box__info .text__icon{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: var(--text-second-color);
    flex-direction: column;
    font-weight: 300;
}
.con__contact .contact__info .box__info .text__icon h3{
    font-weight: 500;
}
.con__contact .contact__info .box__info .text__icon p{
    color: var(--text-second-color);
}

.contact__form{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contact__form h2{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-second-color);
}
.contact__form .input__box{
    position:relative;
    width: 100%;
    margin-top: 10px;
}
.contact__form .input__box input,
.contact__form .input__box textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid var(--text-second-color);
    outline: none;
    resize: none;
}
.contact__form .input__box span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: .5s;
    color: #666;
}
.contact__form .input__box input:focus ~ span,
.contact__form .input__box input:valid ~ span,
.contact__form .input__box textarea:focus ~ span,
.contact__form .input__box textarea:valid ~ span
{
    color: #e91e63 ;
    font-size: 12px;
    transform: translateY(-20px);
}
.contact__form .input__box input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: var(--text-second-color);
    cursor: pointer;
    border: none;
    padding: 10px;
    font-size: 18px;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 9%;
    background: var(--bg-color);
}
.footer__text p{
    font-size: 18px;
    color: var(--text-second-color);
}
.footer__icon-top a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: .8rem;
    background: var(--bg-color);
    border: .2rem solid var(--text-color);
    border-radius: 6px;
    z-index: 1;
    overflow: hidden;
}
.footer__icon-top a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--text-color);
    z-index: -1;
    transition: all .50s ease;
}
.footer__icon-top a:hover:before{
    width: 100%;
}
.footer__icon-top a i{
    font-size: 15px;
    color: var(--text-second-color);
    transition: all .50s ease;
}
.footer__icon-top a:hover i{
    color: var(--bg-color);
}

/* break pointes  */

@media (max-width:1200px){
    html{
        font-size: 55%;
    }
}

@media (max-width:991px){
    .header{
        padding: 2rem 4%;
    }
    section{
        padding: 10rem 4% 2rem;
    }
    .contact{
        padding: 50px;
    }
    .con__contact{
        flex-direction:column ;
    }
    .con__contact .contact__info{
        margin-bottom: 40px ;
    }
    .con__contact .contact__info,
    .contact__form{
        width: 100%;
    }
    .contact{
        padding: 50px;
    }
    .con__contact{
        flex-direction:column ;
    }
    .con__contact .contact__info{
        margin-bottom: 40px ;
    }
    .con__contact .contact__info,
    .contact__form{
        width: 100%;
    }
    .footer{
        padding: 2rem 4%;
    }
}
@media (max-width:768px){
    html{
        font-size: 55%;
    }
    .header{
        background: var(--bg-color);
    }
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100% ;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0,0, 0.2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }
    .navbar.active {
        left: 0;
        transition-delay: 0s;
    }
    .navbar .active-nav{
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0,0, 0.2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }
    .navbar.active .active-nav{
        left: 0;
        transition-delay: .25s;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0;
    }
    .navbar.active a{
        transform:translateX(0);
        transition-delay: .25s ;
    }
    #banner h2{
        font-size: 15px;
    }
    .footer p{
        font-size: 1.5rem;
    }
}
@media (max-width:520px) {
    html{
        font-size: 50%;
    }
    .home-content h1{
        display: flex;
        flex-direction:column ;
    }
    .home-social{
        width: 160px;
    }
    .home-social a{
        width: 38px;
        height: 38px;
    }
    #banner h2{
        font-size: 15px;
    }
}
@media (max-width:462px){
    .home-content h1{
        font-size: 5.2rem;
    }
    .home-social{
        margin-top: 500px;
    }
    #banner h2{
        font-size: 15px;
    }
}
@media (max-width:371px){
    .home{
        justify-content: center;
    }
    .home-content, .btn-box,#new{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}